<div>
  <div class="d-flex justify-content-center pd-5 mt-2">
    <h1>{{ title }}</h1>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <nav>
      <a class="btn btn-secondary" routerLink="listar">Listar</a>
      <a class="btn btn-secondary" routerLink="registrar" *ngIf="!isLoggedIn">Registrar</a>
      <a class="btn btn-secondary" routerLink="logar" *ngIf="!isLoggedIn">Logar</a>
      <a class="btn btn-secondary" routerLink="criar" *ngIf="isLoggedIn">Criar</a>
      <button class="btn btn-secondary" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
    </nav>
  </div>

  <router-outlet></router-outlet>
  <lib-ng-toast></lib-ng-toast>
</div>
