<form [formGroup]="loginForm">
  <fieldset>
      <legend>Login</legend>
      <div class="form-field">
          <label for="username">Usuário:</label>
          <input name="username" formControlName="username">
      </div>
      <div class="form-field">
          <label for="password">Senha:</label>
          <input name="password" formControlName="password"
                 type="password">
      </div>
  </fieldset>
  <div class="form-buttons">
      <button class="button button-primary"
              (click)="login()">Login</button>
  </div>
</form>
