<div *ngIf="veiculo">
  <h2>{{ veiculo.Marca }} - {{ veiculo.Modelo }}</h2>
  <form [formGroup]="veiculoForm">
    <label for="Marca">Marca: </label>
    <input id="Marca" type="text" formControlName="Marca" [value]="veiculo.Marca">
    <br>

    <label for="Modelo">Modelo: </label>
    <input id="Modelo" formControlName="Modelo" type="text" [value]="veiculo.Modelo">
    <br>

    <label for="Valor">Valor: </label>
    <input id="Valor" formControlName="Valor" type="text" [value]="veiculo.Valor">
    <br>
  </form>
<button type="button" *ngIf="!emEdicao" (click)="editar()">Editar</button>
<button type="button" *ngIf="emEdicao" (click)="salvar()">Salvar</button>
<button type="button" (click)="excluir()">Excluir</button>
</div>
